[submodule "butano"]
	path = butano
	url = https://github.com/GValiente/butano
[submodule "get-shit-done-autopilot"]
	path = get-shit-done-autopilot
	url = https://github.com/jamoeight/get-shit-done-autopilot.git
